<div class="container">
    <h1>Add a rating:</h1>
    <div>
        <form action="/action_page.php">
            <div class="form-group">
            <label for="item">Item:</label>
            <input type="item" class="form-control" id="item">
            </div>
            <div class="form-group">
            <label for="category">Category:</label>
            <input type="category" class="form-control" id="category" placeholder="video game, beer, movie, electronics">
            </div>
            <div>
                <label for="comment">Comment:</label>
                <textarea class="form-control" id="comment" rows="4"></textarea>
            </div>
            <br>
            <div id="rateYo"></div>
            <br>
            <div>
                <button type="submit" class="btn btn-default" id="add-btn">Submit</button>
            </div>
            
        </form>
    </div>
</div>