<div class="container">
    <div class="top-page">
    <h1>Category Search</h1>
    </div>
<div id="catSearchDiv">
    <form>
        <div class="form-group">
            <label for="search-category">Category:</label>
            <input type="item" class="form-control" id="search-category">
            <button type="submit" class="btn btn-primary" id="category-btn">Submit</button>
        </div>
    </form>
</div>
<div id="cat-heading"></div>
<div id="category-searched"></div>
</div>