<div class="container">
    <h1>Rating Reader</h1>
    <div>
        <a href="/add" class="btn btn-primary btn-lg active" id="new-rating" role="button">Add a rating!</a>
    </div>
    <div class="start-data"></div>
</div>