<div class="container">
    <h1>Rating Reader</h1>
    <div id="user-greeting"></div>
    <div>
        <a href="/add" class="btn btn-primary btn-lg active" id="new-rating" role="button">Add a rating!</a>
        <button type="submit" class="btn btn-danger btn-lg active" id="logOut-btn">Logout</button>
    </div>
    <div class="start-data"></div>
</div>