<div class="container">
        <h1>Rating Reader</h1>
        <div>
            <a href="/add" class="btn btn-primary btn-lg active" id="add-btn" role="button">Add a rating!</a>
        </div>
        {{#each ratings}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{item}}</h3>
                <p class="rating">{{rating}} <span class="glyphicon glyphicon-star" aria-hidden="true"></span></p>
            </div>
            <div class="panel-body">
                {{comment}}
            </div>
        </div>
        {{/each}}
    </div>