<div class="container">
    <div class="top-page">
    <h1>Rating Reader</h1>
    <div id="user-greeting"></div>
    </div>
    <div id="button-field">
        <a href="/add" class="btn btn-primary btn-lg active" id="new-rating" role="button">Add a rating!</a>
    </div>
    <div class="start-data"></div>
</div>