<div class="container">

    <h1 class="text-center">Item Search</h1>

    <br>

    <form action="/item/:item">
        <div class="form-group">
            <label for="item">Item:</label>
            <input type="item" class="form-control" id="item-search" placeholder="Enter the item's name.">
        </div>
        <div>
            <button type="submit" class="btn btn-primary" id="search-item">Search</button>
        </div>

    </form>

    <br><br>

    <div id="searched">

    </div>

</div>