<div class="container">
    <h1>Item Search</h1>
<div id="itemSearchDiv">
    <form>
        <div class="form-group">
            <label for="search-item">Item:</label>
            <input type="item" class="form-control" id="search-item">
            <button type="submit" class="btn btn-primary" id="item-btn">Submit</button>
        </div>
    </form>
</div>
<div id="item-heading"></div>
<div id="searched"></div>
</div>