<div class="container">
    <div class="top-page">
    <h1>Item Search</h1>
    
<div id="itemSearchDiv">
    <form>
        <div class="form-group searchDiv">
            <label for="search-item">Item:</label>
            <input type="item" class="form-control" id="search-item">
            <br>
            <button type="submit" class="btn btn-primary" id="item-btn">Search</button>
        </div>
    </form>
</div>
</div>
<div id="item-heading"></div>
<div id="searched"></div>
</div>