<div class="container">
    <div class="top-page">
    <h1>User Search</h1>
    </div>
<div id="userSearchDiv">
    <form>
        <div class="form-group">
            <label for="search-user">User:</label>
            <input type="user" class="form-control" id="search-user">
            <button type="submit" class="btn btn-primary" id="user-btn">Submit</button>
        </div>
    </form>
</div>
<div id="user-heading"></div>
<div id="searched"></div>
</div>