.panel-heading {
    position: relative;
}

.rating {
    position: absolute;
    right: 10px;
    top: 10px;
}

#logOut-btn {
    float: right;
}

#new-rating {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
}

#itemSearchDiv, #catSearchDiv {
    margin-top: 10px;
}

#item-btn, #category-btn {
    margin-top: 10px;
}